//fuentes
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
//tipo de fuente
$font-family: 'PT Sans Narrow';
$type-family: 'sans-serif';
//colores principales
$mainColor: #17a2b8;
$bg-color: #fafafa;
//colores de fuentes
$mainColorText: #ffff;
$colorLink: #fff;
//color boton secundario
$SecondColor: #4476dc;
