
/*--------------------------------------------------------
overly detalle
--------------------------------------------------------*/



.kt-blog-grid-v2 .kt-blog-grid-v2__body .kt-blog-grid-v2__date a {

  color: #ffffff;
  margin-bottom: 1.5rem;
  font-weight: 400;

  .kt-blog-grid-v2 .kt-blog-grid-v2__body .kt-blog-grid-v2__link .kt-blog-grid-v2__title {
    font-weight: 700;
    margin: 0;
  }
  .kt-blog-grid-v2 .kt-blog-grid-v2__body .kt-blog-grid-v2__link {
    color: #ffffff !important;
  }

}

.kt-blog-grid-v2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 33rem;
  padding: 3.5rem;
  position: relative;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
