*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: $bg-color;
  color: #636b6f;
  font-family: $font-family, $type-family;
  min-height: 100vh !important;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */

}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

section{
  padding:  50px 0;
}

a {
  padding: 0 25px;
  text-decoration: none !important;
}

//maximo alto de tablas
